---
import DropdownBottomIcon from '../../icons/DropdownBottomIcon.astro';
import DropdownRightIcon from '../../icons/DropdownRightIcon.astro';

export interface Props {
  sessionName: 'Practice' | 'Qualifying' | 'Race';
}

const { sessionName } = Astro.props;
const { roundId } = Astro.params;
---

<li>
  <button
    id={`${sessionName}DropdownButton`}
    data-dropdown-toggle={`${sessionName}DropdownMenu`}
    class="w-full py-2 pr-4 flex items-center text-gray-900 dark:text-white hover:underline"
  >
    {sessionName}
    <DropdownBottomIcon />
  </button>
  <div
    id={`${sessionName}DropdownMenu`}
    class="z-10 hidden font-normal drop-shadow-xl border border-gray-500 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-400"
      aria-labelledby={`${sessionName}DropdownButton`}
    >
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Summary
        </a>
      </li>
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/results`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Results
        </a>
      </li>
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/personal-bests`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Personal Bests
        </a>
      </li>
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/incidents`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Incidents
        </a>
      </li>
    </ul>
  </div>
</li>
