---
import { and, asc, eq, sql } from 'drizzle-orm';
import pluralize from 'pluralize';

import { getName } from 'i18n-nationality';

import { db } from '@/db';
import { laps, sessions, results, drivers, teams } from '@/db/schema';
import { formatDurationInMs } from '@/utils/formatDurationInMs';

import DashboardLayout from '@/layouts/DashboardLayout.astro';
import PenaltiesNote from '@/components/ui/visualisations/PenaltiesNote.astro';

const { roundId } = Astro.params;

const lapsMetadata = db.$with('laps_metadata').as(
  db
    .select({
      driverId: laps.driverId,
      numLapsRaced: sql<number>`MAX(${laps.lapNumber})`.as('num_laps_raced'),
      raceTimeNoPensMs: sql<number>`SUM(${laps.totalTimeMs})`.as(
        'race_time_no_pens_ms'
      )
    })
    .from(laps)
    .innerJoin(sessions, eq(laps.sessionId, sessions.id))
    .where(and(eq(sessions.roundId, Number(roundId)), eq(sessions.type, 'r')))
    .groupBy(laps.driverId)
);

const raceResultsWithoutGaps = db.$with('race_results').as(
  db
    .select({
      position: results.position,
      driverId: results.driverId,
      status: results.status,
      points: results.points,
      firstName: drivers.firstName,
      lastName: drivers.lastName,
      nationality: drivers.countryCode,
      team: teams.name,
      numLapsRaced: lapsMetadata.numLapsRaced,
      totalRaceTimeMs:
        sql<number>`${lapsMetadata.raceTimeNoPensMs} + (${results.penaltiesSeconds} * 1000)`
          .mapWith(Number)
          .as('total_race_time_ms')
    })
    .from(results)
    .innerJoin(sessions, eq(results.sessionId, sessions.id))
    .innerJoin(drivers, eq(results.driverId, drivers.id))
    .innerJoin(teams, eq(drivers.teamId, teams.id))
    .innerJoin(lapsMetadata, eq(results.driverId, lapsMetadata.driverId))
    .where(and(eq(sessions.roundId, Number(roundId)), eq(sessions.type, 'r')))
    .orderBy(asc(results.position))
);

const raceResults = await db
  .with(lapsMetadata, raceResultsWithoutGaps)
  .select({
    // I wish there was a way to select all columns of a CTE in a single line
    position: raceResultsWithoutGaps.position,
    driverId: raceResultsWithoutGaps.driverId,
    status: raceResultsWithoutGaps.status,
    points: raceResultsWithoutGaps.points,
    firstName: raceResultsWithoutGaps.firstName,
    lastName: raceResultsWithoutGaps.lastName,
    nationality: raceResultsWithoutGaps.nationality,
    team: raceResultsWithoutGaps.team,
    numLapsRaced: raceResultsWithoutGaps.numLapsRaced,
    totalRaceTimeMs: raceResultsWithoutGaps.totalRaceTimeMs,
    gapToLeaderMs: sql<number>`
        ${raceResultsWithoutGaps.totalRaceTimeMs}
        - MIN(${raceResultsWithoutGaps.totalRaceTimeMs}) OVER (
            ORDER BY
            ${raceResultsWithoutGaps.position} ASC
          )
      `.mapWith(Number),
    numLapsToLeader: sql<number>`
        MAX(${raceResultsWithoutGaps.numLapsRaced}) OVER (
          ORDER BY
          ${raceResultsWithoutGaps.position} ASC
        ) - ${raceResultsWithoutGaps.numLapsRaced}
      `.mapWith(Number)
  })
  .from(raceResultsWithoutGaps)
  .groupBy(raceResultsWithoutGaps.driverId);
---

<DashboardLayout title="Race Results">
  <div class="lg:px-0 px-4 relative overflow-x-auto">
    <table
      class="lg:w-3/4 w-5/6 md:mx-auto mb-4 border dark:border-gray-700 text-left dark:text-gray-400"
    >
      <thead
        class="text-center text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Position</th>
          <th scope="col" class="px-6 py-3">Car</th>
          <th scope="col" class="px-6 py-3">Nationality</th>
          <th scope="col" class="px-6 py-3">Driver</th>
          <th scope="col" class="px-6 py-3">Team</th>
          <th scope="col" class="px-6 py-3">Laps</th>
          <th scope="col" class="px-6 py-3">Time/Status</th>
          <th scope="col" class="px-6 py-3">Points</th>
        </tr>
      </thead>
      <tbody>
        {
          raceResults.map((result, index) => (
            <tr
              class:list={[
                index % 2 === 0
                  ? 'bg-white dark:bg-gray-900'
                  : 'bg-gray-50 dark:bg-gray-800'
              ]}
              class="text-center border-b dark:border-gray-700"
            >
              <td class="px-6 py-4">{result.position}</td>
              <td class="px-6 py-4">{result.driverId}</td>
              <td class="py-4">
                <img
                  class="mx-auto"
                  src={`https://flagcdn.com/24x18/${result.nationality}.png`}
                  srcset={`https://flagcdn.com/48x36/${result.nationality}.png 2x https://flagcdn.com/72x54/${result.nationality}.png 3x`}
                  width="24"
                  height="18"
                  title={getName(result.nationality, 'en')}
                  alt={getName(result.nationality, 'en')}
                />
              </td>
              <td class="px-6 py-4">
                {result.firstName} {result.lastName}
              </td>
              <td class="px-6 py-4 uppercase">{result.team}</td>
              <td class="px-6 py-4">{result.numLapsRaced}</td>
              <td class="px-6 py-4 uppercase">
                {result.position === 1
                  ? formatDurationInMs(result.totalRaceTimeMs)
                  : result.status === 'fin'
                  ? '+' +
                    (result.numLapsToLeader === 0
                      ? formatDurationInMs(result.gapToLeaderMs)
                      : pluralize('lap', result.numLapsToLeader, true))
                  : result.status}
              </td>
              <td class="px-6 py-4">{result.points}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
  <PenaltiesNote sessionType="r" />
</DashboardLayout>
