---
import DropdownBottomIcon from '../icons/DropdownBottomIcon.astro';
import DropdownRightIcon from '../icons/DropdownRightIcon.astro';

export interface Props {
  sessionName: 'Practice' | 'Qualifying' | 'Race';
}

const { sessionName } = Astro.props;
const { roundId } = Astro.params;
---

<li>
  <button
    id={`${sessionName}DropdownButton`}
    data-dropdown-toggle={`${sessionName}DropdownMenu`}
    class="w-full py-2 pr-4 flex items-center text-gray-900 dark:text-white hover:underline"
  >
    {sessionName}
    <DropdownBottomIcon />
  </button>
  <div
    id={`${sessionName}DropdownMenu`}
    class="z-10 hidden font-normal drop-shadow-xl border border-gray-500 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <ul
      class="py-2 text-sm text-gray-700 dark:text-gray-400"
      aria-labelledby={`${sessionName}DropdownButton`}
    >
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Summary
        </a>
      </li>
      <li>
        <a
          href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/results`}
          class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Results
        </a>
      </li>
      {
        sessionName === 'Race' && (
          <>
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/race-pace`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Race Pace
              </a>
            </li>
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/tyre-wear-and-strategy`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Tyre Wear & Strategy
              </a>
            </li>
          </>
        )
      }
      <li>
        <button
          id={`${sessionName}FastestLapsDropdownButton`}
          data-dropdown-toggle={`${sessionName}FastestLapsDropdownMenu`}
          data-dropdown-placement="right"
          class="w-full flex items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Fastest Laps
          <DropdownRightIcon />
        </button>
        <div
          id={`${sessionName}FastestLapsDropdownMenu`}
          class="z-10 hidden font-normal drop-shadow-xl border border-gray-500 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-400"
            aria-labelledby={`${sessionName}FastestLapsDropdownButton`}
          >
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/fastest-laps`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Session-wide
              </a>
            </li>
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/fastest-laps/drivers`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Individual
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <button
          id={`${sessionName}IncidentsDropdownButton`}
          data-dropdown-toggle={`${sessionName}IncidentsDropdownMenu`}
          data-dropdown-placement="right"
          class="w-full flex items-center justify-between px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >
          Incidents
          <DropdownRightIcon />
        </button>
        <div
          id={`${sessionName}IncidentsDropdownMenu`}
          class="z-10 hidden font-normal drop-shadow-xl border border-gray-500 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-400"
            aria-labelledby="DropdownButton"
          >
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/incidents`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Session-wide
              </a>
            </li>
            <li>
              <a
                href={`/visualisations/rounds/${roundId}/${sessionName.toLowerCase()}/incidents/drivers`}
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >
                Individual
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>
